<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatal error</title>
    <link rel="stylesheet" href="estilos7.css">
</head>
<body>
    <div class="login">
        <h2>Error</h2>
        <form action="err" method="POST">
            <label for="pass">Alguien está ocupando la página o se cerró inadecuadamente</label>
            <input type="password" name="pass" id="pass" placeholder="clave" required>
                <input type="submit" class="btn-log" value="Restaurar">
        </form>


    </div>
</body>
</html>