<div id="tiempo">
    <%=t1%>
</div>
<%if(tamaño>2){%>
    <div id="tiempo1">
        <%=t2%>
    </div>
    <% }else{} %>
    <%if(tamaño>3){%>
        <div id="tiempo2">
            <%=t3%>
            
        </div>
        <% }else{} %>
        <%if(tamaño>4){%>
            <div id="tiempo3">

                <%=t4%>
            </div>
            <% }else{} %>
            
<div class="opciones">
    <a class = "btn-fin" id ="rutas" href="/recarga">Terminar ruta</a>
</div>